html body{
  margin: 0;
  background-color: rgb(7, 7, 7);
}


.navBarContents {
  padding-top: 10px ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  z-index: 2;
  background-color: rgba(32, 32, 32, 0.993);
}

.navBar {
  display: flex;
  flex-direction: row;
  padding-left: 120px;
  justify-content: center;
  margin-left: 220px;
  height: 70px;
  position: fixed;
}

@media only screen and (max-width: 1200px) {
  .navBar {
    max-width: ;
  }
} 

.sideBar {
  background-color: rgb(19, 19, 19);
  width: 240px;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sideBar img {
  width: 30px;
  height: auto;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}


.sideBarContent {
  margin-top: 90px;
  margin-left: 25px;
  font-family: 'Source Serif Pro', serif;
  font-size: 13px;
  cursor: default;
}

.sideBarContent :hover {
  color: rgb(148, 148, 148);
}

.logo img {
  width: 100px;
  height: auto;
  padding-right: 50px;
  margin-left: -80px;
  position: relative;
  cursor: pointer;
}

.searchBar {
  width: 280px;
  height: 20px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: black;
  border-color: black;
  color: rgb(206, 206, 206);
}


.searchButton {
  background-color: rgb(22, 22, 22);
  height: 26px;
  width: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.searchButton :hover{
  width: 17px;
  box-shadow: black;

}

.searchButton img {
  width: 15px;
  align-content: center;
  margin-top: 3px;
  margin-left: 10px;

}

.publishButton {
  margin-left: 50px;
  margin-top: 6px;
  cursor: pointer;
}
.publishButton img {
  width: 15px;
}

.notificationButton {
  margin-left: 20px;
  margin-top: 11px;
  cursor: pointer;
}
.notificationButton img {
  width: 40px;
}

.vl {
  border-left: 1px solid rgb(124, 124, 124);
  margin-top: 3px;
  margin-left: 20px;
  height: 40px;
}

.signupButton {
  font-size: 9px;
  font-family: 'Source Serif Pro', serif;
  font-weight: lighter;
  margin-left: 15px;
  color: rgb(175, 175, 175);
  white-space: nowrap;
  cursor: pointer;
}

.signupButton :hover {
  color: rgb(255, 255, 255);
}

.thumbnailImage img {
  width: 150px;
  height: auto;
  cursor: pointer;
  border-color: rgba(126, 126, 126, 0.11);
  border-style: solid;
  border-width: 2px;
}

@media only screen and (min-width: 1180px) {
  .thumbnailImage img {
    width: 100%;
  }
}
@media only screen and (max-width: 1180px) {
  .thumbnailImage img {
    width: 100%;
  }
}

.sectionText {
  font-family: 'Source Serif Pro', serif;
  font-weight: lighter;
  font-size: 25px;
  color: rgb(180, 180, 180);
  margin-top: -2px;
  cursor: default;
}

.homeHr {
  padding-left: 40px;
  border-width: 1px;
  border-color: rgba(187, 187, 187, 0.253);
}

.featuredContent {
  margin-left: 40px;
}

.featuredList {
  display: inline-flex;
}

.thumbnail {
  margin-right: 30px;
}

.thumbnailTitle {
  font-family: Helvetica;
  font-size: 15px;
  width: 150px;
  cursor: pointer;
  color: rgb(163, 163, 163);
}

.thumbnailMeta {
  margin-top: 2px;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: lighter;
  width: 150px;
  margin-bottom: 20px;
  color: rgb(163, 163, 163);
  cursor: pointer;
}

.profileTag {
  display: inline-flex;
  margin-top: 2px;
  cursor: pointer;

}

.profileName {
  font-family: Helvetica;
  font-style: 50px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 4px;
  margin-left: 7px;
  color:  rgb(163, 163, 163);

}

.profileTag img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;

}

.topicBubble {
  border: solid black;
}

.bodyContent {
  margin-top: 80px;
  margin-left: 220px;
}

.sideBarText {
  cursor: pointer;
    color: rgb(168, 168, 168);
}

.sideBarText :hover {
  color: rgb(0, 0, 0);
}

.articleBodyContent {
  margin-top: 180px;
  height: 100%;
  margin-bottom: -100px;
  z-index: 0;

}


.articleContentDivison {
  width: 820px;
  position: absolute;
  z-index: 0;
  

}

@media only screen and (max-width: 1180px) {
  .articleHeader img{
   margin-top: -20px;
  }
}

@media only screen and (max-width: 1180px) {
.articleHeaderAccountInfo {
 margin-top: -20px;
}
}

.articleHeader img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 20px;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}



.articleHeader {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1180px) {
  .articleHeader{
    background-color: rgba(248, 248, 248, 0.966);
    padding-bottom: 20px;
    padding-top: -50px;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: -20px;
    -webkit-box-shadow: -1px 9px 24px -2px rgba(0,0,0,0.13);
-moz-box-shadow: -1px 9px 24px -2px rgba(0,0,0,0.13);
box-shadow: -1px 9px 24px -2px rgba(0,0,0,0.13);
  }
}



.articleHeaderAccountInfo {
  font-family:'Source Serif Pro', serif ;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.articleHeaderAccountName {
font-size: 25px;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.articleHeaderSubCount {
  font-size: 17px;
  margin-top: -20px;
}

.articleSidebarContent {
  width: 200px;
  margin-right: 160px;
  z-index: 1;
}

@media only screen and (max-width: 1180px) {
  .articleSidebarContent {
    visibility: hidden;
  }
}

.articleSidebarUpNext {
  display: flex;
  flex-direction: row;

}

.articleSidebarForYou {
  display: flex;
  flex-direction: row;
}

.articleSidebarApp {
  width: 350px;
  float: right;

}

.articleSidebarText {
  font-family:'Source Serif Pro', serif ;
  font-size: 28px;
}

.articleContent {
  margin-left: 30px;
  z-index: 1;
}

@media only screen and (max-width: 1180px) {
  .articleContentDivison {
    width: 100%;
  }
}

@media only screen and (min-width: 1180px) {
  .articleContentDivison {
    width: 100%;
  }
}

.articleBanner img {
  width: 780px;
  margin-right: 20px;
  height: auto;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}


@media only screen and (max-width: 1180px) {
  .articleBanner img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1180px) {
  .articleBanner img {
    width: 100%;
    height: auto;
    margin-right: 370px;

  }
}

.articleBanner {
  margin-right: 30px;
}

@media only screen and (min-width: 1180px) {
  .articleBanner  {
    margin-right: 370px;
  }
}



.articleTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 780px;
  margin-bottom: 5px;
  padding-top: 20px;
  color: rgb(126, 126, 126);
}

@media only screen and (max-width: 1180px) {
  .articleTitle {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 1180px) {
  .articleTitle {
    width: fit-content;
    align-content: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1180px) {
  .articleTitle {
    width: fit-content;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-right: 370px;
  }
}

.articleTextContent {
  width: 780px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: start;
  margin-right: 30px;
  color: rgb(126, 126, 126);
}

@media only screen and (max-width: 1180px) {
  .articleTextContent {
    width: fit-content;
  }
}

@media only screen and (max-width: 375px) {
  .articleTextContent {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .articleTextContent {
    width: fit-content;
    font-size: 30px;
  }
}


@media only screen and (min-width: 1180px) {
  .articleTextContent {
    width: fit-content;
    margin-right: 370px;
  }
}

.articleMeta {
  float: right;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 140px;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

@media only screen and (max-width: 1180px) {
  .articleMeta {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 1180px) {
  .articleMeta{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 708px) {
  .articleMeta { 
    visibility: hidden;
    width: 0px;
  }
}


.articleMeta img{
width: 30px;
height: auto;
border-radius: 0%;
cursor: pointer;
margin: 0 auto;
margin-bottom: 5px;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.articleMetaText {
  display: flex;
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
  margin: 0 auto;
  justify-content: center;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  
}

.metaVertical {
  background-color: rgba(0, 0, 0, 0.082);
  height: 60px;
  margin-top: 10px;
  width: 1px;
}

.articleMetaItem {
  display: flex;
  flex-direction: column;
  width: 70px;
  margin-right: 10px;
  justify-content: center;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.articleMetaHr {
  width: 450px;
  height: 1px;

  float: right;
  background-color: rgb(165, 165, 165);
}

@media only screen and (min-width: 1180px) {
  .articleMetaHr {
margin-right: 370px;
  }
}

@media only screen and (max-width: 1180px) {
  .articleMetaHr {
width: 100%;
  }
}

@media only screen and (max-width: 1180px) {
  .comments {

  }
}

.comments {
  margin-left: 20px;
  margin-bottom: 100px;
}

.commentsHr {
  background-color: rgb(179, 179, 179);
  width: 700px;
  height: 1px;
  float: right;
  margin-bottom: 40px;
}

.commentsHeader {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(92, 92, 92);
  font-size: 25px;
  margin-left: 10px;
}

.newComment{
display: flex;
flex-direction: row;
height: auto;
}
.newComment img {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 20px;
margin-left: 10px;
}

.newCommentInput {
  height: 30px;
  width: 730px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-bottom: black;
}

.newCommentHr {
  background-color: rgba(179, 179, 179, 0.486);
  width: 730px;
  height: 1px;
  float: right;
  margin-bottom: 20px;
}

.postCommentButton {
  width: 150px;
  height: 33px;
  background-color: rgba(87, 87, 87, 0.514);
  white-space: nowrap;
  justify-content: center;
  float: right;
}


.cancelCommentButton {
  width: 100px;
  height: 30px;
  background-color: rgba(250, 250, 250, 0.103);
  white-space: nowrap;
  justify-content: center;
  float: right;
  margin-right: 10px;
}

.commentButtonText {
  margin-top: 5px;
  margin-left: 3px;
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
cursor: pointer;
}

.cancelButtonText {
  margin-top: 2px;
  margin-left: 3px;
  font-family: Helvetica;
  color: rgb(141, 141, 141);
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
cursor: pointer;
}

.commentButtonText :hover{
  color: black;
}

.loadMoreButton {
  justify-content: center;
  width: 100px;
  margin-left: 120px;
  margin-top: 20px;
  cursor: pointer;
}

.loadMoreText {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.searchContent {
  margin-left: 250px;
}

.searchContentText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 100px;
  font-weight: lighter;
  margin-left: 20px;
  color:  rgb(126, 126, 126);
}

.noResults{
  display: flex;
  width: 100%;
  margin-top: 150px;
  justify-content: center;
}

.noResults img{
  width: 230px;
  height: auto;
  opacity: 50%;
  margin-left: -100px;
}

.searchResultHR {
  width: 600px;
  height: 1px;
  background-color: rgb(126, 126, 126);
  margin-left: 100px;
}

.linkClass {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.profileHeader {
  margin-left: 250px;
  display: flex;
  z-index: -1;
  position: relative;
}
.profileHeader img {
  object-fit: none;
  width: 100%;
  height: 240px;
  float: right;
}

.profileBanner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 150px;
  margin-top: -150px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(7, 7, 7, 0) 11%, rgb(7, 7, 7) 32%);
}

.profileBannerDisplay {
  position: relative;
  z-index: 1;
  margin-left: 280px;
  margin-top: -150px;
  display: flex;
  flex-direction: row;

}

.profileBannerDisplay img{
  border-radius: 50%;
  height: 110px;
  width: auto;

}

.profilePageName {
  margin-top: 35px;
  margin-left: 20px;
  font-size: 40px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}

.profilePageDetails {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: -30px;
  color: rgb(126, 126, 126);
}

.profilePageDetailsText {
  font-size: 15px;
  margin-right: 20px;
}

.subButton {
  margin-top: 60px;
  margin-left: 50px;
  background-color: rgb(114, 114, 114);
  height: 23px;
  display: flex;
  justify-content: center;
  width: 130px;
  border-radius: 3px;
  border-color: rgb(126, 126, 126);
  border-style: solid;
  border-width: .5px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3px;
  cursor: pointer;
}

.subButton :hover{
  background-color: cornsilk;
}

.profileContent {
  display: flex;
  flex-direction: column;
}

.profileMenu {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
  position: relative;
  margin-top: 230px;
  position: absolute;
  z-index: 1;
  color: rgb(126, 126, 126);
}

.profileMenuText {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 80px;
  font-weight: lighter;
}

.profileHorizontal {
  background-color: black;
  width: 100%;
  height: 1px;
  margin-top: 280px;
  margin-left: 300px;
}

.profileBody {
  margin-left: 220px;
  margin-top: 80px;
}

.hotTopicsMenu {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 90px;
}

.hotTopicsMenuDiv {
  background-color: rgba(224, 224, 224, 0.527);
  border-color: rgba(158, 158, 158, 0.452);
  border-style: solid;
  border-width: 1px;
  margin-right: 9px;
  border-radius: 15px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  white-space: nowrap;
  overflow: scroll;
  cursor: pointer;
  
}

.publishBody {
  margin-top: 200px;
  width: 100%;
  height: 100%;
}

.newPostMetaInput{
  margin-left: 80px;
  width: 50%;
}

.newPostContentInput{
  margin-right: 80px;
  width: 50%;
}

.newPostProfile {
  width:  80px;
  height: 80px;
  border-radius: 50%;
}

.newPostPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newPostVL {
  background-color: rgba(0, 0, 0, 0.308);
  min-height: 500px;
  margin-right: 20px;
  margin-left: 20px;
  width: 2px;
}

.contentTextInput{
  width: 100%;
  min-height: 100px;
  border-radius: 3px;
  font-size: 17px;
  padding: 10px;
  resize: vertical;
}

.contentTitleInput{
  width: 90%;
  margin-right: 20px;
  height: 35px;
  border-radius: 3px;
  font-size: 30px;
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.newPostHeader{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: center;
  margin-left: -40px;
}

.newPostHeaderText{
  font-weight: lighter;
  margin-left: 20px;
  margin-top: 20px;
}

.contentDescriptionInput{
  width: 90%;
  margin-right: 20px;
  min-height: 100px;
  border-radius: 3px;
  font-size: 17px;
  padding: 10px;
  resize: vertical;
  margin-bottom: 10px;
}

.contentTagsInput{
  width: 90%;
  min-height: 100px;
  border-radius: 3px;
  font-size: 17px;
  padding: 10px;
  resize: none;
}

.newPostH1{
  font-weight: lighter;
}

.addToBookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

}

.bookshelfSelect {
  background-color: rgba(204, 204, 204, 0);
  width: 100px;
  height: 30px;
  margin-left: 5px;
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  color: rgb(87, 87, 87);
  cursor: pointer;
}

.bookshelfSelect img {
  margin-left: 10px;
  width: 30px;
  height: 15px;
}

.addToBookshelfText{
  font-size: 16px;
  font-weight: lighter;
}

.signUpDiv{
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 4;
  position: fixed;
  width: 100%;
  height:100%;
  background-color: rgba(51, 51, 51, 0.788);
  top: 0;
}

.signUpBox{
  width: 800px;
  height: 550px;
  background-color: rgba(20, 20, 20, 0.993);
  transform: translateY(10%);
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(56, 56, 56, 0.61);
}

.signUpDivCenter{
  display: flex;
  justify-content: center;
}

.signUpBoxContent{
  display: flex;
  justify-content: center;

}

.signUpTitle{
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

.signUpHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signUpHeader img{
  width: 150px;
  height: 70px;
  margin-right: 90px;
  margin-top: 25px;
  float: left;
}

.signUpForm{
  display: flex;
  flex-direction: column;
}

.signUpInput{
  height: 20px;
  font-size: 17px;
}

.signUpandSignin{
  display: flex;
  flex-direction: row;
  justify-content: center;
}